<div id="forms-container">
  
  <div id="refresh-form">
    <%# Form to refresh the firefox page %>
    <form action="/">
      <input type="hidden" name="refresh" value="true">
      <input type="submit" value="refresh"><br>
      <small><i>runs <code>location.reload</code><br>on the selenium browser</i></small>
    </form>
  </div>
  
  <div id="navigate-form">
    <%# Form to navigate to a url %>
    <form action="/">
      <input type="submit" value="go to url"><br>
      <input type="text" name="url" placeholder="url goes here"><br>
      <small><i>i.e. <code>Google</code> or<br><code>http://google.com</code></i></small>
    </form>
  </div>
  
  <div id="send-text-form">
    <%# Form to send text to a selected node %>
    <%# Before doing this, an input should be clicked on the firefox page %>
    <form action="/">
      <input type="submit" value="send text"> <br>
      <input type="text" name="enter_text" placeholder="text goes here"><br>
      <small><i>Click an input<br>on the page first</i></small>
    </form>
  </div>
  
  <div id="run-script-form">
    <%# Form to run arbitrary javascript %>
    <form action="/">
      <input type="submit" value="run arbitrary javascript"> <br>
      <textarea name="custom_script"></textarea>
    </form>
  </div>
  
  <div id="restart-browser-form">
    <%# Form to restart the selenium brwoser %>
    <form action="/">
      <input type="hidden" name="restart_browser" value="true">
      <input type="submit" value="restart browser"> <br>
    </form>
  </div>

  <div class="clearfix"></div>
</div> <!-- #forms-container -->

