<h4> Running macro: <%= @running_macro_name %> </h4>
<h5> Current command: <%= @running_macro_current_command %> </h5>
<hr>

<% if @current_macro_run_halted %>
<h3> MACRO IS HALTED! handle the alert to proceed <h3>
<% else %>
  <script>
  $(function(){
    var pauseBetweenCommands = 5000 // 5 seconds
    function runNextCommand() {
      window.location.href = "http://localhost:4567/continue_macro_run"
    }
    $(function(){
      window.setTimeout(runNextCommand, pauseBetweenCommands)
    })
  })
  </script>
<% end %>