<div id="errors">
  <%# show errors if any exist %>
  <%# this is used to pass generic messages as well %>
  <%= @error %>
</div>

<div id="forms-container">
  
  <div id="refresh-form">
    <%# Form to refresh the firefox page %>
    <form action="/">
      <input type="hidden" name="refresh" value="true">
      <input type="submit" value="refresh">
    </form>
  </div>
  
  <div id="navigate-form">
    <%# Form to navigate to a url %>
    <form action="/">
      <input type="submit" value="go to url"><br>
      <input type="text" name="url" placeholder="url goes here">
    </form>
  </div>
  
  <div id="send-text-form">
    <%# Form to send text to a selected node %>
    <%# Before doing this, an input should be clicked on the firefox page %>
    <form action="/">
      <input type="submit" value="send text"> <br>
      <input type="text" name="enter_text" placeholder="text goes here">
    </form>
  </div>
  
  <div id="delay-screenshot-form">
    <%# Form to set the 'delay_screenshot' setting on the server %>
    <%# This will delay taking a screenshot for n seconds to ensure the page has loaded %>
    <form action="/">
      <input type="submit" value="delay screenshot"><br>
      <input type="number" name="delay_screenshot" placeholder="number of seconds">
    </form>
  </div>

  <div class="clearfix"></div>
</div> <!-- #forms-container -->

<div id="current-screenshot">
  <%# The current screenshot of the active Firefox page %>
  <img id="page-screenshot" src="<%= @screenshot %>" alt="screenshot">
</div>